{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded shadow">

    <h1 class="text-2xl font-bold mb-6">
        Login
    </h1>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-4">
            <label>Usuário</label>
            {{ form.username }}
        </div>

        <div class="mb-4">
            <label>Senha</label>
            {{ form.password }}
        </div>

        <button class="w-full bg-green-600 text-white p-3 rounded">
            Entrar
        </button>

    </form>

</div>

{% endblock %}