{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded shadow w-full max-w-md">

        <h1 class="text-3xl font-bold mb-6">
            Criar Conta
        </h1>

        <form method="POST">

            {% csrf_token %}

            <div class="mb-4">
                <label class="block mb-2">
                    Usuário
                </label>

                {{ form.username }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">
                    Email
                </label>

                {{ form.email }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">
                    Senha
                </label>

                {{ form.password }}
            </div>

            <div class="mb-6">
                <label class="block mb-2">
                    Confirmar senha
                </label>

                {{ form.confirm_password }}
            </div>

            <button
                type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white p-3 rounded"
            >
                Criar Conta
            </button>

        </form>

    </div>

</div>

{% endblock %}