{% extends 'base.html' %}

{% block content %}

<div class="mb-6">

    <form method="GET" class="grid grid-cols-1 md:grid-cols-4 gap-4">

        <input
            type="text"
            name="search"
            placeholder="Buscar..."
            class="border p-3 rounded"
        >

        <select
            name="status"
            class="border p-3 rounded"
        >
            <option value="">Todos</option>
            <option value="new">Novo</option>
            <option value="learning">Aprendendo</option>
            <option value="reviewed">Revisado</option>
        </select>

        <select
            name="ordering"
            class="border p-3 rounded"
        >
            <option value="-created_at">
                Mais recentes
            </option>

            <option value="created_at">
                Mais antigos
            </option>

            <option value="progress">
                Progresso
            </option>
        </select>

        <button class="bg-blue-600 text-white rounded p-3">
            Filtrar
        </button>

    </form>

</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    {% for flashcard in page_obj %}

        {% include 'components/flashcard_card.html' with flashcard=flashcard %}

    {% empty %}

        <p>Nenhum conteúdo encontrado.</p>

    {% endfor %}

</div>

{% include 'components/pagination.html' %}

{% endblock %}